html, body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.headimg {
  width: 50%;
  margin: auto;
}
.filebox-label {
  margin-bottom: 15px;
  margin-top: 10px;
}
.main-class {
  width: 100%;
  max-width: 550px;
  padding: 15px;
  margin: auto;
}
.main-class input {
  margin-bottom: 20px;
}
.main-class .checkbox {
  font-weight: 400;
}
.advanced-options {
  display: none;
  opacity: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  transition: opacity 2s ease-in-out;
}
.advanced-options.show {
  display: block;
  opacity: 1;
}
.bottom-footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.top-header {
  position: absolute;
  top: 10px;
  right: 10px;
}
.ghicon {
  width: 32px;
  height: 32px;
}
